SetEnv APPLICATION_ENV development

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l 
RewriteRule .*.(gif|jpg|png|css|js|ico|flv|txt)$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]